body{
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
    color: #00B7FF;
}

#content{
    width: 800px;
    margin-left: auto;
    margin-right: 1em;
}

#room{
    background-color: #dddddd;
    margin-bottom: 1em;
}

#messages{
    width: 690px;
    height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    margin-bottom: 1em;
    margin-right: 10px;
}

#room-list{
    float: right;
    width: 100px;
    height: 300px;
    overflow: auto;
}

#room-list div {
    border-bottom: 1px solid #eeeeee;
}

#room-list div:hover {
    background-color: #dddddd;
}

#send-message{
    width: 700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help{
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
